%h1
  QuickTravel

.setting_block
  %h2 Core Cache
  %p
    = Cache.core_types.map(&:titleize).join(', ')
    %br
    = button_to 'Manually Clear', clear_core_caches_admin_quick_travel_path, method: :post

  %h2 Other Cache
  %p
    = Cache.other_types.map(&:titleize).join(', ')
    %br
    = button_to 'Manually Clear', clear_other_caches_admin_quick_travel_path, method: :post
